version: "3"


services:

  lep:
    build:
      context: ./lep
      args:
        - USER_ID=${USER_ID}
        - GROUP_ID=${GROUP_ID}
    links:
        - mariadb:mariadb
    tty: true
    volumes:
      - ./lep/nginx/nginx.conf:/etc/nginx/nginx.conf:rw
      - ./lep/php-fpm/8.1/www.conf:/etc/php/8.1/fpm/pool.d/www.conf:rw
      - ./lep/nginx/logs:/var/log/nginx:rw
      - ./lep/supervisor/supervisord.conf:/etc/supervisor/supervisord.conf:rw
      - ./lep/cron/laravel:/etc/cron.d/laravel:rw
      - ./lep/nginx/sites:/etc/nginx/sites-enabled:rw
      - /c/Users/trand/Workspace/Projects:/var/www/Projects // need to edit
    ports:
      - ${HTTP_PORT}:80
    restart: always

  redis:
    build: ./redis
    restart: always
    volumes:
      - ./data/redis:/data
    ports:
      - "${REDIS_PORT}:6379"

  mysql:
    image: mysql:8.2
    restart: always
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_PWD}
    volumes:
      - ./data/mysql8:/var/lib/mysql:rw
      - ./data/shared:/var/shared:rw
    ports:
      - ${MYSQL_PORT}:3306
    networks:
      - phpdocker_network

  postgres:
    restart: always
    build:
      context: ./postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "${POSTGRES_PORT}:5432"
    environment:
      - POSTGRES_DB=default
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=${POSTGRES_PWD}
    networks:
      - phpdocker_network

volumes:
  postgres_data:

networks:
  phpdocker_network:
    driver: bridge
